.container {
    display: flex;
    background-color: rgba(35,88,156,255);
}
.left-section {
    flex: 1;
    font-size: 150%;
    background-color: rgba(35,88,156,255);
    color: white;
    left: 50px;
    margin-left: 100px;
}
   
.right-section {
    position: absolute;
    flex: 1;
    font-size: 100%;
    background-color: rgba(35,88,156,255);
    color: white;
    columns: 2;
    margin-left: 700px;
    margin-top: 35px;

}
.container2 {
    display: flex;
    position: relative;
    background-color: rgba(235,238,247,255);
    margin: -10px;
}
.left-section2 {
    flex: 1;
    margin-left: 80px;
    margin-top: 20px;
    text-align: justify;
 
}
#parrafo {
    margin-left: 30px;
    font-size: 150%;
}

.right-section2 {
    position: relative;
    flex: 1;
    margin-left: 200px;
    margin-top: 50px;
}
body {
    background-color: rgba(35,88,156,255);
}
#correo {
    width: 65%;
}
#contra {
    width: 65%;
}
#olvidado {
    position: relative;
    color: rgb(199, 197, 197);
    font-size: 95%;
    bottom: 10px;
   
}
a:visited {
    color: rgb(245, 245, 245);
}
#porque {
    position: relative;

}